.author .archive-description{
    display: flex;
    align-items: start;
}
.author .archive-description .avatar img{
    min-width: 170px;
    min-height: 170px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}
.author .archive-description .description{
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    color: #4b5460;
}
.author .archive-description .avatar + .description{
    padding: 0 24px;
}
.author .archive-description .description .social{
    display: flex;
    align-items: center;
    gap: 8px;
}
.author .archive-description .description .social a{
    color: black;
}
@media only screen and (max-width: 767px) {
    .author .archive-description{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 15px;
        justify-items: center;
    }
    .author .archive-description .description{
        padding: 0;
        text-align: center;
    }
    .author .archive-description .description .social{
        justify-content: center;
    }
}
