@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.post-page {
  padding: 20px !important;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .post-page {
    padding: 20px !important;
  }
}
@media only screen and (max-width: 767px) {
  .post-page {
    padding: 15px !important;
  }
}
.post-page .header-page {
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .post-page .header-page {
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .post-page .header-page {
    margin-bottom: 24px;
  }
}
.post-page .header-page h1 {
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .post-page {
    flex-direction: column;
  }
}
.post-page .col-50 {
  width: 48%;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .post-page .col-50 {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .post-page .col-50 {
    width: 100%;
  }
}
@media only screen and (max-width: 972px) {
  .post-page .col-50 {
    margin-bottom: 35px;
  }
}
.post-page .title-post {
  font-size: 127%;
  border-bottom: 2px solid #e74c3c;
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 24px;
}
.post-page .link-category {
  margin: 0 0 5px 0;
  line-height: 1.2;
}
.post-page .link-category a {
  color: #e74c3c;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 78%;
}
.post-page .post-meta {
  color: #888;
  font-size: 92%;
  margin: 0;
}
.post-page .post-meta a {
  color: #888;
  font-size: 100%;
  margin: 0;
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  .post-page .post-meta a:hover {
    color: #e74c3c;
  }
}
@media (hover: none) and (pointer: coarse) {
  .post-page .post-meta a:active {
    color: #e74c3c;
  }
}
.post-page .post-large-block {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
@media only screen and (max-width: 972px) {
  .post-page .post-large-block {
    flex-direction: column;
  }
}
.post-page .post-large-block .post-main-block {
  width: 48%;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .post-page .post-large-block .post-main-block {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .post-page .post-large-block .post-main-block {
    width: 100%;
  }
}
.post-page .post-large-block .new-secondary-block {
  width: 48%;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .post-page .post-large-block .new-secondary-block {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .post-page .post-large-block .new-secondary-block {
    width: 100%;
  }
}
.post-page .blogs-large .post-img {
  margin-bottom: 10px;
}
.post-page .blogs-large .post-img img {
  width: 100%;
}
.post-page .blogs-large .post-img a {
  display: block;
}
.post-page .blogs-large .post-title {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 148%;
}
.post-page .blogs-large .post-title a {
  color: #222222;
  line-height: 1.3;
  font-size: 100%;
  font-weight: 700;
  text-decoration: none;
  display: block;
}
@media (hover: hover) and (pointer: fine) {
  .post-page .blogs-large .post-title a:hover {
    color: #e74c3c;
  }
}
@media (hover: none) and (pointer: coarse) {
  .post-page .blogs-large .post-title a:active {
    color: #e74c3c;
  }
}
.post-page .blogs-large .post-entry-summary {
  margin: 12px 0 23px;
  line-height: 20px;
  font-size: 106%;
}
.post-page .btn-view-all {
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  margin-top: -5px;
  margin-bottom: 20px;
  font-size: 78%;
  padding: 8px 15px;
  border-radius: 3px;
  color: #fff;
  background: #e74c3c;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
@media (hover: hover) and (pointer: fine) {
  .post-page .btn-view-all:hover {
    background: #222;
    color: #fff;
  }
}
@media (hover: none) and (pointer: coarse) {
  .post-page .btn-view-all:active {
    background: #222;
    color: #fff;
  }
}
.post-page .th-read-more {
  display: inline-block;
  border-radius: 3px;
  font-weight: bold;
  color: #ffffff;
  font-size: 78%;
  background: #e74c3c;
  padding: 8px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.post-main {
  width: 65.55794%;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .post-main {
    width: 65.55794%;
  }
}
@media only screen and (max-width: 767px) {
  .post-main {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .post-main {
    padding-top: 20px;
  }
}
.post-main .nav-link {
  text-align: center;
  margin: 20px auto;
}
.post-main .nav-link .page-numbers {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  margin: 2px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
}
.post-main .nav-link .current {
  background: #e74c3c;
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  margin: 2px;
}

.post-aside {
  width: 30.79399%;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .post-aside {
    width: 30.79399%;
  }
}
@media only screen and (max-width: 767px) {
  .post-aside {
    width: 100%;
  }
}
.post-aside .block-post-cat {
  margin: 0 0 40px;
  display: block;
  overflow: hidden;
}
.post-aside .list-post-category {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post-aside .list-post-category li {
  padding: 5px 10px;
}
.post-aside .list-post-category li a {
  color: #222222;
  text-decoration: none;
  font-size: 106%;
}
@media (hover: hover) and (pointer: fine) {
  .post-aside .list-post-category li a:hover {
    color: #e74c3c;
  }
}
@media (hover: none) and (pointer: coarse) {
  .post-aside .list-post-category li a:active {
    color: #e74c3c;
  }
}
.post-aside .list-tags a {
  display: block;
  float: left;
  padding: 4px 10px;
  font-weight: bold;
  background: #e74c3c;
  color: #fff;
  margin: 0 1px 1px 0;
  font-size: 92%;
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  .post-aside .list-tags a:hover {
    background: #222;
  }
}
@media (hover: none) and (pointer: coarse) {
  .post-aside .list-tags a:active {
    background: #222;
  }
}

.blogs-normal-item {
  display: flex;
  justify-content: space-between;
  gap: 2.73038%;
  overflow: hidden;
  margin-bottom: 20px;
}
.blogs-normal-item:last-child {
  margin-bottom: 0;
}
.blogs-normal-item .post-img {
  width: 34.47099%;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .blogs-normal-item .post-img {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .blogs-normal-item .post-img {
    width: 34.47099%;
  }
}
@media only screen and (max-width: 972px) {
  .blogs-normal-item .post-img img {
    width: 100%;
    height: auto;
  }
}
.blogs-normal-item .post-detail {
  width: 59.04437%;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .blogs-normal-item .post-detail {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .blogs-normal-item .post-detail {
    width: 59.04437%;
  }
}
.blogs-normal-item h3 {
  margin: 0 0 12px;
  line-height: 1;
  font-size: 113%;
}
.blogs-normal-item h3 a {
  text-decoration: none;
  color: #222222;
  line-height: 1.3;
  font-weight: normal;
  font-size: 100%;
}
@media (hover: hover) and (pointer: fine) {
  .blogs-normal-item h3 a:hover {
    color: #e74c3c;
  }
}
@media (hover: none) and (pointer: coarse) {
  .blogs-normal-item h3 a:active {
    color: #e74c3c;
  }
}
.blogs-normal-item .meta {
  color: #888;
  font-size: 92%;
  margin: 0;
}

.list-grid-post .list-grid-post-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 3.27332%;
  justify-content: flex-start;
}
.list-grid-post .list-grid-post-inner .blogs-large {
  width: 31.09656%;
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .list-grid-post .list-grid-post-inner .blogs-large {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .list-grid-post .list-grid-post-inner .blogs-large {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .list-grid-post .list-grid-post-inner .blogs-large {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-left: 250px;
    flex-direction: column;
    min-height: 150px;
  }
  .list-grid-post .list-grid-post-inner .blogs-large .post-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 230px;
  }
}
.list-grid-post .list-grid-post-inner .post-title {
  font-size: 120%;
}
.list-grid-post .list-grid-post-inner .post-title a {
  font-size: 100%;
  font-weight: normal;
}
.list-grid-post.grid-post-by-category {
  gap: 5.40098%;
}
.list-grid-post.grid-post-by-category .blogs-large {
  width: 47.29951%;
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .list-grid-post.grid-post-by-category .blogs-large {
    width: 47.29951%;
  }
}
@media only screen and (max-width: 767px) {
  .list-grid-post.grid-post-by-category .blogs-large {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .list-grid-post.grid-post-by-category .blogs-large {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .list-grid-post.grid-post-by-category .blogs-large {
    margin-bottom: 50px;
  }
}
.list-grid-post.grid-post-by-category .blogs-large .post-title {
  font-size: 148%;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .list-grid-post.grid-post-by-category .blogs-large {
    padding-left: 0;
    min-height: auto;
  }
  .list-grid-post.grid-post-by-category .blogs-large .post-img {
    position: inherit;
    left: inherit;
    width: auto;
  }
}

.entry-content {
  line-height: 1.8;
  overflow: hidden;
  font-size: 15px;
}
.entry-content h1 {
  font-size: 2rem;
}
.entry-content p {
  color: #000000;
}
.entry-content p:first-child {
  margin-top: 0;
}
.entry-content .wp-block-image {
  margin: 0 0 1em;
}
.entry-content .wp-block-quote {
  box-sizing: border-box;
  overflow-wrap: break-word;
}
.entry-content blockquote {
  quotes: '' '';
  padding: 1.2em;
  margin: 0 0 1em 0;
  background: #e7eaea;
  border-left: 6px solid #e74c3c;
}
.entry-content blockquote a {
  color: inherit;
  text-decoration: none;
}
.entry-content .has-text-align-right {
  font-size: 106%;
  color: #000000;
  font-weight: bold;
  text-align: right;
}
.entry-content pre {
  word-wrap: break-word;
  width: 100%;
  white-space: break-spaces;
}

.title-dipsim {
  font-size: 155%;
  font-weight: 700;
  margin-bottom: 10px;
  color: #cd1818;
  animation: blinker 1s linear infinite;
}

.tbl-list-sim-so-dep {
  width: 100%;
  border: 1px solid #000;
}
.tbl-list-sim-so-dep tr td {
  line-height: 21px;
}
.tbl-list-sim-so-dep tr td a,
.tbl-list-sim-so-dep tr td p,
.tbl-list-sim-so-dep tr td i {
  font-size: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .tbl-list-sim-so-dep tr td a,
  .tbl-list-sim-so-dep tr td p,
  .tbl-list-sim-so-dep tr td i {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .tbl-list-sim-so-dep tr td a,
  .tbl-list-sim-so-dep tr td p,
  .tbl-list-sim-so-dep tr td i {
    font-size: 12px;
  }
}
.tbl-list-sim-so-dep tr td .button_buy_simtable {
  border-radius: 7px;
}
.tbl-list-sim-so-dep tr {
  background: #fff;
  vertical-align: middle;
  text-align: center;
  height: 39px;
}
.tbl-list-sim-so-dep tr td,
.tbl-list-sim-so-dep tr th {
  border: 1px solid #000;
  padding: 3px 5px;
  line-height: 21px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .tbl-list-sim-so-dep tr td,
  .tbl-list-sim-so-dep tr th {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .tbl-list-sim-so-dep tr td,
  .tbl-list-sim-so-dep tr th {
    font-size: 12px;
  }
}
.tbl-list-sim-so-dep .sott {
  display: block;
  text-align: center;
}
.tbl-list-sim-so-dep .phone-hight {
  width: 28%;
}
.tbl-list-sim-so-dep .phone-hight a {
  font-size: 18px;
  font-weight: 700;
  color: #390;
  text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  .tbl-list-sim-so-dep .phone-hight a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .tbl-list-sim-so-dep .phone-hight a {
    font-size: 12px;
  }
}
.tbl-list-sim-so-dep .phone-hight a i {
  color: #f60;
  font-style: normal;
}
.tbl-list-sim-so-dep .column-telco-sim-table {
  color: #dd8656;
  text-transform: capitalize;
  font-weight: 600;
  width: 23%;
}
.tbl-list-sim-so-dep .column-price {
  width: 20%;
}
.tbl-list-sim-so-dep .column-price span {
  display: block;
}
.tbl-list-sim-so-dep .column-price span.text-price-through {
  text-decoration: line-through;
}
.tbl-list-sim-so-dep .btn-buy {
  background-color: #cd1818;
  color: #fff;
  padding: 6px 8px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .tbl-list-sim-so-dep .btn-buy {
    font-size: 93%;
    padding: 4px 8px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
  }
}

.fixColumnsMobile {
  padding: 8px 0;
  font-weight: 500;
  width: 10%;
}
@media only screen and (max-width: 767px) {
  .fixColumnsMobile {
    display: none;
  }
}

.btn-xem-them {
  text-align: right;
  margin-top: 10px;
}
.btn-xem-them a {
  font-size: 120%;
  font-weight: 500;
  text-decoration: none;
  color: #2980b9;
}
@media (hover: hover) and (pointer: fine) {
  .btn-xem-them a:hover {
    color: #e74c3c;
  }
}
@media (hover: none) and (pointer: coarse) {
  .btn-xem-them a:active {
    color: #e74c3c;
  }
}

.entry-footer {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 85%;
  margin: 20px 0;
  display: block;
}
.entry-footer .post-tagged {
  line-height: 1.5;
  padding: 0 5px;
  background: #e74c3c;
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px;
}
.entry-footer a {
  line-height: 1.5;
  padding: 0 5px;
  background: #222;
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px;
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  .entry-footer a:hover {
    background: #e74c3c;
  }
}
@media (hover: none) and (pointer: coarse) {
  .entry-footer a:active {
    background: #e74c3c;
  }
}
.entry-footer .post-tags-links {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.post-author-box {
  padding: 20px;
  border: 1px solid #dddddd;
  overflow: hidden;
  margin-bottom: 3em;
  display: flex;
  align-items: center;
}
.post-author-box .post-author-img {
  float: left;
  margin: 0 25px 0 0;
  width: 100px;
  overflow: hidden;
}
.post-author-box .post-author-content {
  overflow: hidden;
  width: calc(100% - 125px);
}
.post-author-box .author-name {
  font-size: 120%;
  font-size: 1.0625rem;
  margin: 0 0 1em;
}
.post-author-box .author-description {
  margin: 0;
}
.post-author-box .author-posts-link {
  margin: 1em 0 0;
  display: block;
  color: #e74c3c;
  font-style: italic;
  text-decoration: none;
}

.post-navigation {
  margin: 0 0 3em;
  overflow: hidden;
}
.post-navigation .nav-links {
  display: flex;
  gap: 10px;
}
.post-navigation .nav-item {
  width: 50%;
}
.post-navigation .nav-item .meta-nav {
  display: block;
  color: #aaa;
  font-size: 113%;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.post-navigation .nav-item .post-title {
  color: #222;
  font-weight: bold;
}
.post-navigation .nav-item a {
  text-decoration: none;
  display: block;
}
@media (hover: hover) and (pointer: fine) {
  .post-navigation .nav-item a:hover .post-title {
    color: #e74c3c;
  }
}
@media (hover: none) and (pointer: coarse) {
  .post-navigation .nav-item a:active .post-title {
    color: #e74c3c;
  }
}
.post-navigation .nav-item:last-child {
  text-align: right;
}
.post-navigation .nav-item:last-child a {
  text-align: right;
}

.comments-area .comments-title {
  font-size: 162%;
  font-weight: 700;
  line-height: 1.3125;
  padding-top: 30px;
  margin-bottom: 30px;
}
.comments-area .comment-list {
  list-style: none;
  margin: 0;
}
.comments-area .comment-list article {
  border-top: 1px solid #dddddd;
  padding: 30px 30px 30px 75px;
  position: relative;
}
.comments-area .comment-author {
  color: #1a1a1a;
  margin-bottom: 0.4375em;
  line-height: 1;
  display: inline;
}
.comments-area .comment-author .avatar {
  height: 50px;
  position: absolute;
  width: 50px;
  left: 0;
  top: 22px;
  border-radius: 50%;
}
.comments-area .comment-metadata {
  margin-left: 5px;
  display: inline;
  color: #888888;
  font-size: 85%;
  line-height: 1.6153846154;
}
.comments-area .comment-metadata a {
  color: #888888;
  text-decoration: none;
}
@media (hover: hover) and (pointer: fine) {
  .comments-area .comment-metadata a:hover {
    color: #e74c3c;
  }
}
@media (hover: none) and (pointer: coarse) {
  .comments-area .comment-metadata a:active {
    color: #e74c3c;
  }
}
.comments-area .comment-awaiting-moderation {
  font-size: 99%;
  line-height: 1.6;
  margin-bottom: 1.5em;
  font-style: italic;
}
.comments-area .comment-reply-title {
  font-size: 162%;
  font-weight: 700;
  line-height: 1.3125;
  padding-top: 1.304em;
  border-top: 1px solid #ddd;
  margin-bottom: 0;
}
.comments-area .comment-notes {
  font-size: 99%;
  line-height: 1.6;
  margin-bottom: 1.5em;
}
.comments-area .required {
  color: #e74c3c;
}
.comments-area .comment-form-item label {
  display: block;
  font-size: 92%;
  letter-spacing: 0.077em;
  line-height: 1.5;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.comments-area .comment-form-item textarea {
  resize: vertical;
  width: 100%;
  border: 1px solid #ddd;
}
.comments-area .comment-form-item input,
.comments-area .comment-form-item textarea {
  color: #666;
  border: 1px solid #ddd;
  padding: 8px 5px;
}
.comments-area label {
  display: block;
  font-size: 92%;
  letter-spacing: 0.077em;
  line-height: 1.5;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.comments-area .submit {
  background-color: transparent;
  background-image: none;
  border: none;
  padding: 4px 0;
  cursor: pointer;
}

.entry-meta {
  margin: 0 0 1.154em;
  font-size: 92%;
  font-weight: bold;
  color: #888888;
}
.entry-meta a {
  color: #888888;
  text-decoration: none;
}
.entry-meta .author a {
  color: #444;
}

.entry-title {
  font-size: 225%;
  margin: 0 0 0.2em;
  font-weight: bold;
  color: #222;
  line-height: 1.2;
}

#block_toc_link {
  background: #f9f9f9;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  display: table;
  margin-bottom: 1em;
  padding: 10px;
  position: relative;
  width: auto;
}
@media only screen and (min-width: 768px) and (max-width: 972px) {
  #block_toc_link {
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 767px) {
  #block_toc_link {
    margin-bottom: 2em;
  }
}
#block_toc_link .toc-title-container {
  display: table;
  width: 100%;
}
#block_toc_link .toc-title {
  text-align: left;
  line-height: 1.45;
  margin: 0;
  padding: 0;
  font-size: 120%;
  font-weight: 500;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding-right: 1em;
}
#block_toc_link a {
  color: #444;
  box-shadow: none;
  text-decoration: none;
  text-shadow: none;
}
@media (hover: hover) and (pointer: fine) {
  #block_toc_link a:hover {
    text-decoration: underline;
  }
}
@media (hover: none) and (pointer: coarse) {
  #block_toc_link a:active {
    text-decoration: underline;
  }
}
#block_toc_link a.ez-toc-toggle {
  color: #444;
}
#block_toc_link ul {
  margin: 0;
  padding: 0;
  counter-reset: item;
}
#block_toc_link ul li {
  margin: 0;
  padding: 0;
  font-size: 95%;
}
#block_toc_link ul ul {
  margin-left: 1.5em;
}
#block_toc_link ul,
#block_toc_link li,
#block_toc_link ul li {
  list-style: none;
  line-height: 1.6;
  margin: 0;
  overflow: hidden;
  z-index: 1;
}
#block_toc_link .toc-list-link li a::before {
  content: counters(item,".") ". ";
  display: inline-block;
  counter-increment: item;
  margin-right: 0.2em;
}
#block_toc_link .toc-title-toggle {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 0 #fff;
  background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  width: 30px;
  height: 34px;
  border-radius: 3px;
  cursor: pointer;
}
#block_toc_link .toc-title-toggle i.toc-icon-close {
  background: url("../images/img-menu.svg") no-repeat center center;
  background-size: contain;
  height: 16px;
  width: 16px;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
}

@media only screen and (min-width: 768px) and (max-width: 972px) {
  .list-post {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .list-post .blogs-normal-item {
    width: 48%;
    flex-direction: column;
  }
}
